@model SimilarBeads.Web.ViewModels.Charts.ChartsTopArtistsViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Top Artists";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("TopArtists", "Charts", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "TopArtists", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Total Songs Plays", "TopArtists", new { sortOrder = ViewBag.SongsPlaysSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Number Of Subscribers", "TopArtists", new { sortOrder = ViewBag.SubscribersSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.Artists)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongsPlays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subscribers)
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.TotalPages < Model.CurrentPage ? 0 : Model.CurrentPage) of @Model.TotalPages

    @Html.PagedListPager(Model.Artists, page => Url.Action("TopArtists",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))